automations/agency/n8n-workflows/blog-article-multi-channel.json
{
  "name": "Blog Article Generator + Multi-Channel Distribution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blog/generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "blog-generator"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {"name": "topic", "value": "={{ $json.body.topic }}"},
            {"name": "language", "value": "={{ $json.body.language || 'fr' }}"},
            {"name": "keywords", "value": "={{ $json.body.keywords || '' }}"},
            {"name": "publishToFacebook", "value": "={{ $json.body.publishToFacebook || true }}"},
            {"name": "publishToLinkedIn", "value": "={{ $json.body.publishToLinkedIn || true }}"},
            {"name": "facebookPageId", "value": "={{ $json.body.facebookPageId || '' }}"},
            {"name": "linkedInOrgUrn", "value": "={{ $json.body.linkedInOrgUrn || '' }}"}
          ]
        }
      },
      "id": "set-params",
      "name": "Set Article Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{ $credentials.httpHeaderAuth.value }}"},
            {"name": "anthropic-version", "value": "2024-01-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a comprehensive blog article about: {{ $json.topic }}\\n\\nLanguage: {{ $json.language }}\\nTarget Keywords: {{ $json.keywords }}\\n\\nRequirements:\\n- 1500-2000 words\\n- Include H2 and H3 headings\\n- Include actionable tips with concrete examples\\n- Include statistics and data (cite sources)\\n- SEO optimized for the target keywords\\n- Professional but accessible tone\\n- Focus on 2026 trends and future outlook\\n- Include a strong CTA at the end\\n\\nOutput format: JSON with these fields:\\n{\\n  \\\"title\\\": \\\"Article Title\\\",\\n  \\\"excerpt\\\": \\\"150 char summary for social media\\\",\\n  \\\"content\\\": \\\"Full HTML article content\\\",\\n  \\\"hashtags\\\": [\\\"relevant\\\", \\\"hashtags\\\"]\\n}\\n\\nIMPORTANT: Output ONLY valid JSON, no markdown, no explanations.\"\n    }\n  ]\n}"
      },
      "id": "claude-generate",
      "name": "Generate with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude response\nconst claudeResponse = JSON.parse($input.first().json.content[0].text);\nconst params = $('Set Article Params').first().json;\n\n// Generate slug from title\nconst slug = claudeResponse.title\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '');\n\n// Format hashtags for social media\nconst hashtagsString = claudeResponse.hashtags\n  .map(h => h.startsWith('#') ? h : '#' + h)\n  .join(' ');\n\nreturn {\n  // Article data\n  title: claudeResponse.title,\n  slug: slug,\n  excerpt: claudeResponse.excerpt,\n  content: claudeResponse.content,\n  hashtags: claudeResponse.hashtags,\n  hashtagsString: hashtagsString,\n  \n  // Meta\n  language: params.language,\n  publishedDate: new Date().toISOString().split('T')[0],\n  \n  // Social content\n  facebookPost: `${claudeResponse.excerpt}\\n\\n${hashtagsString}\\n\\n📖 Lire l'article complet: https://3a-automation.com/blog/${slug}`,\n  linkedInPost: `${claudeResponse.excerpt}\\n\\n${hashtagsString}\\n\\n📖 Lire l'article complet: https://3a-automation.com/blog/${slug}`,\n  \n  // Publishing flags\n  publishToFacebook: params.publishToFacebook,\n  publishToLinkedIn: params.publishToLinkedIn,\n  facebookPageId: params.facebookPageId,\n  linkedInOrgUrn: params.linkedInOrgUrn\n};"
      },
      "id": "parse-content",
      "name": "Parse & Format Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "filePath": "=/blog/{{ $json.slug }}.html",
        "fileContent": "=<!DOCTYPE html>\n<html lang=\"{{ $json.language }}\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>{{ $json.title }} | 3A Automation</title>\n  <meta name=\"description\" content=\"{{ $json.excerpt }}\">\n  <link rel=\"stylesheet\" href=\"/styles.min.css\">\n</head>\n<body>\n  <article class=\"blog-article\">\n    <header>\n      <h1>{{ $json.title }}</h1>\n      <time datetime=\"{{ $json.publishedDate }}\">{{ $json.publishedDate }}</time>\n    </header>\n    <div class=\"article-content\">\n      {{ $json.content }}\n    </div>\n  </article>\n</body>\n</html>",
        "options": {}
      },
      "id": "save-file",
      "name": "Save HTML File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.publishToFacebook }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-facebook",
      "name": "Publish to Facebook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.publishToLinkedIn }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-linkedin",
      "name": "Publish to LinkedIn?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "postType": "text",
        "message": "={{ $json.facebookPost }}",
        "additionalFields": {
          "link": "=https://3a-automation.com/blog/{{ $json.slug }}"
        }
      },
      "id": "facebook-post",
      "name": "Post to Facebook Page",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": {
        "facebookGraphApi": {
          "name": "Facebook Page Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "text": "={{ $json.linkedInPost }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "id": "linkedin-post",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [1340, 420],
      "credentials": {
        "linkedInOAuth2Api": {
          "name": "LinkedIn OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from all branches\nconst article = $('Parse & Format Content').first().json;\nconst fileResult = $('Save HTML File').first()?.json || null;\nconst fbResult = $('Post to Facebook Page').first()?.json || null;\nconst liResult = $('Post to LinkedIn').first()?.json || null;\n\nreturn {\n  success: true,\n  article: {\n    title: article.title,\n    slug: article.slug,\n    url: `https://3a-automation.com/blog/${article.slug}`,\n    publishedDate: article.publishedDate\n  },\n  distribution: {\n    website: {\n      status: 'published',\n      path: `/blog/${article.slug}.html`\n    },\n    facebook: fbResult ? {\n      status: 'published',\n      postId: fbResult.id || 'unknown'\n    } : {\n      status: 'skipped',\n      reason: 'Not enabled'\n    },\n    linkedin: liResult ? {\n      status: 'published',\n      postId: liResult.id || 'unknown'\n    } : {\n      status: 'skipped',\n      reason: 'Not enabled'\n    }\n  }\n};"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Set Article Params", "type": "main", "index": 0}]]
    },
    "Set Article Params": {
      "main": [[{"node": "Generate with Claude", "type": "main", "index": 0}]]
    },
    "Generate with Claude": {
      "main": [[{"node": "Parse & Format Content", "type": "main", "index": 0}]]
    },
    "Parse & Format Content": {
      "main": [
        [
          {"node": "Save HTML File", "type": "main", "index": 0},
          {"node": "Publish to Facebook?", "type": "main", "index": 0},
          {"node": "Publish to LinkedIn?", "type": "main", "index": 0}
        ]
      ]
    },
    "Publish to Facebook?": {
      "main": [
        [{"node": "Post to Facebook Page", "type": "main", "index": 0}],
        [{"node": "Aggregate Results", "type": "main", "index": 0}]
      ]
    },
    "Publish to LinkedIn?": {
      "main": [
        [{"node": "Post to LinkedIn", "type": "main", "index": 0}],
        [{"node": "Aggregate Results", "type": "main", "index": 0}]
      ]
    },
    "Save HTML File": {
      "main": [[{"node": "Aggregate Results", "type": "main", "index": 0}]]
    },
    "Post to Facebook Page": {
      "main": [[{"node": "Aggregate Results", "type": "main", "index": 0}]]
    },
    "Post to LinkedIn": {
      "main": [[{"node": "Aggregate Results", "type": "main", "index": 0}]]
    },
    "Aggregate Results": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Generate SEO blog articles and distribute to Website + Facebook + LinkedIn simultaneously",
    "version": "3.0.0",
    "author": "3A Automation",
    "created": "2025-12-26",
    "updated": "2025-12-26",
    "ai_model": "claude-sonnet-4-20250514",
    "channels": ["website", "facebook", "linkedin"],
    "capabilities": [
      "AI content generation",
      "SEO optimization",
      "Multi-channel distribution",
      "Hashtag generation",
      "Social media formatting"
    ]
  }
}
