automations/agency/n8n-workflows/blog-article-generator.json
{
  "name": "Blog Article Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "topic": "={{ $json.topic }}",
        "language": "={{ $json.language }}",
        "targetKeywords": "={{ $json.keywords }}"
      },
      "id": "set-params",
      "name": "Set Article Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            },
            {
              "name": "anthropic-version",
              "value": "2024-01-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a comprehensive blog article about: {{ $json.topic }}\\n\\nLanguage: {{ $json.language }}\\nTarget Keywords: {{ $json.keywords }}\\n\\nRequirements:\\n- 1500-2000 words\\n- Include H2 and H3 headings\\n- Include actionable tips with concrete examples\\n- Include statistics and data (cite sources)\\n- SEO optimized for the target keywords\\n- Professional but accessible tone\\n- Focus on 2026 trends and future outlook\\n- Include a strong CTA at the end directing to 3A Automation services\\n\\nOutput format: HTML with proper heading tags (h2, h3), paragraphs (p), lists (ul, li), and emphasis (strong).\\n\\nIMPORTANT: Output ONLY the HTML content, no markdown, no explanations.\"\n    }\n  ]\n}"
      },
      "id": "claude-generate",
      "name": "Generate with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "={{ $json.content[0].text }}"
      },
      "id": "extract-content",
      "name": "Extract Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [840, 300]
    },
    {
      "parameters": {
        "title": "={{ $json.topic }}",
        "slug": "={{ $json.topic.toLowerCase().replace(/[^a-z0-9]+/g, '-') }}",
        "content": "={{ $json.content }}",
        "language": "={{ $json.language }}",
        "publishedDate": "={{ new Date().toISOString().split('T')[0] }}"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "filePath": "/blog/{{ $json.slug }}.html",
        "options": {}
      },
      "id": "save-file",
      "name": "Save to File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1240, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [{"node": "Set Article Params", "type": "main", "index": 0}]
      ]
    },
    "Set Article Params": {
      "main": [
        [{"node": "Generate with Claude", "type": "main", "index": 0}]
      ]
    },
    "Generate with Claude": {
      "main": [
        [{"node": "Extract Content", "type": "main", "index": 0}]
      ]
    },
    "Extract Content": {
      "main": [
        [{"node": "Format Output", "type": "main", "index": 0}]
      ]
    },
    "Format Output": {
      "main": [
        [{"node": "Save to File", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Generate SEO-optimized blog articles using Claude AI for 3A Automation",
    "version": "2.0.0",
    "author": "3A Automation",
    "created": "2025-12-23",
    "updated": "2025-12-23",
    "ai_model": "claude-sonnet-4-20250514"
  }
}
