automations/agency/n8n-workflows/email-outreach-sequence.json
{
  "name": "Email Outreach Sequence - Multi-Touch Campaign",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads/new",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-new-lead",
      "name": "Webhook - New Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "new-lead",
      "notes": "Triggered when new lead added"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-email",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Only process if email exists"
    },
    {
      "parameters": {
        "jsCode": "// Generate personalized email content\nconst lead = $input.first().json;\n\nconst firstName = lead.firstName || 'there';\nconst company = lead.company || 'your company';\nconst title = lead.headline || '';\n\n// Email 1: Introduction\nconst email1 = {\n  subject: `${firstName}, question rapide sur ${company}`,\n  body: `Bonjour ${firstName},\\n\\nJe vois que vous travaillez chez ${company} en tant que ${title}.\\n\\nJe travaille avec des PME e-commerce qui perdent 10-15h/semaine sur des taches manuelles (reporting, relances emails, mise a jour produits).\\n\\nQuestion: combien de temps passez-vous par semaine sur ces taches repetitives?\\n\\nSi c'est plus de 5h, je peux vous montrer comment automatiser ca en moins d'une semaine.\\n\\nCordialement,\\nJouiet\\n3A Automation\\nhttps://3a-automation.com`\n};\n\n// Email 2: Value Add (Day 3)\nconst email2 = {\n  subject: `Case study: comment reduire 10h/semaine de taches manuelles`,\n  body: `Bonjour ${firstName},\\n\\nSuite a mon message precedent, je voulais partager un cas concret.\\n\\nUn de mes clients e-commerce passait 2h/jour sur:\\n- Reporting manuel GA4 + Shopify\\n- Relances paniers abandonnes\\n- Mise a jour des prix\\n\\nResultat apres automatisation:\\n→ 10h/semaine recuperees\\n→ +23% revenus email\\n→ ROI 42:1 sur les automations\\n\\nVoulez-vous que je vous montre comment on peut faire pareil pour ${company}?\\n\\n30 minutes suffisent pour identifier vos quick wins.\\n\\nCordialement,\\nJouiet`\n};\n\n// Email 3: Direct Ask (Day 5)\nconst email3 = {\n  subject: `Audit gratuit pour ${company}?`,\n  body: `Bonjour ${firstName},\\n\\nJe ne veux pas vous spammer - dernier message promis.\\n\\nSi l'automatisation e-commerce vous interesse, je propose un audit gratuit de 30 min ou j'analyse:\\n\\n1. Vos flows email actuels\\n2. Vos opportunites d'automatisation\\n3. Le ROI potentiel\\n\\nSans engagement, sans pitch commercial.\\n\\nDisponible cette semaine? Voici mon calendrier:\\nhttps://3a-automation.com/booking.html\\n\\nSi ce n'est pas le bon moment, pas de souci - je comprends.\\n\\nCordialement,\\nJouiet\\n3A Automation`\n};\n\nreturn {\n  json: {\n    ...lead,\n    emails: {\n      email1,\n      email2,\n      email3\n    },\n    sequenceStartDate: new Date().toISOString()\n  }\n};"
      },
      "id": "generate-emails",
      "name": "Generate Personalized Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200],
      "notes": "AI personalization"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Klaviyo-API-Key {{ $env.KLAVIYO_API_KEY }}"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"type\": \"event\",\n    \"attributes\": {\n      \"profile\": {\n        \"data\": {\n          \"type\": \"profile\",\n          \"attributes\": {\n            \"email\": \"{{ $json.email }}\",\n            \"first_name\": \"{{ $json.firstName }}\",\n            \"properties\": {\n              \"company\": \"{{ $json.company }}\"\n            }\n          }\n        }\n      },\n      \"metric\": {\n        \"data\": {\n          \"type\": \"metric\",\n          \"attributes\": {\n            \"name\": \"outreach_started\"\n          }\n        }\n      },\n      \"properties\": {\n        \"leadScore\": {{ $json.leadScore || 50 }},\n        \"email1_subject\": \"{{ $json.emails.email1.subject }}\",\n        \"email2_subject\": \"{{ $json.emails.email2.subject }}\",\n        \"email3_subject\": \"{{ $json.emails.email3.subject }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "id": "klaviyo-http-event",
      "name": "Trigger Klaviyo Flow (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "notes": "Create event in Klaviyo via REST API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbw9JP0YCJV47HL5zahXHweJgjEfNsyiFYFKZXGFUTS9c3SKrmRZdJEg0tcWnvA-P2Jl/exec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"log_outreach\",\n  \"data\": {\n    \"email\": \"{{ $json.email }}\",\n    \"name\": \"{{ $json.firstName }} {{ $json.lastName || '' }}\",\n    \"company\": \"{{ $json.company || '' }}\",\n    \"sequence_started\": \"{{ $json.sequenceStartDate }}\",\n    \"status\": \"active\",\n    \"source\": \"n8n_outreach\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "log-outreach",
      "name": "Log Outreach (Dashboard API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "notes": "Log to Dashboard CRM via Google Apps Script API"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Email outreach sequence started for {{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 200],
      "notes": "Return success to webhook caller"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Missing email address"
            }
          ]
        },
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 400],
      "notes": "Return error when no email"
    }
  ],
  "connections": {
    "Webhook - New Lead": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Generate Personalized Emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Personalized Emails": {
      "main": [
        [
          {
            "node": "Trigger Klaviyo Flow (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Klaviyo Flow (HTTP)": {
      "main": [
        [
          {
            "node": "Log Outreach (Dashboard API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Outreach (Dashboard API)": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "version": "2.3.0",
    "description": "Multi-touch email outreach sequence via Klaviyo HTTP API + Dashboard CRM. Uses lastNode response mode with proper error handling.",
    "updated": "2025-12-28",
    "session": "108"
  }
}
