automations/agency/n8n-workflows-ARCHIVED-Session120/whatsapp-booking-confirmation.json
{
  "name": "WhatsApp Booking Confirmation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-confirmation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - New Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "booking-confirmation",
      "notes": "Triggered by Google Apps Script after booking creation"
    },
    {
      "parameters": {
        "jsCode": "// Format booking data for WhatsApp\nconst booking = $input.first().json;\n\n// Format date for French locale\nconst bookingDate = new Date(booking.datetime);\nconst options = { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  timeZone: booking.timezone || 'Africa/Casablanca'\n};\nconst formattedDate = bookingDate.toLocaleDateString('fr-FR', options);\n\n// Clean phone number (remove spaces, ensure + prefix)\nlet phone = booking.phone || '';\nphone = phone.replace(/\\s+/g, '');\nif (!phone.startsWith('+')) {\n  // Assume Morocco if no country code\n  phone = phone.startsWith('0') ? '+212' + phone.slice(1) : '+212' + phone;\n}\n\nreturn {\n  json: {\n    name: booking.name,\n    email: booking.email,\n    phone: phone,\n    service: booking.service || 'Consultation',\n    datetime: formattedDate,\n    rawDatetime: booking.datetime,\n    timezone: booking.timezone,\n    bookingId: booking.id || booking.eventId,\n    hasPhone: phone.length > 8\n  }\n};"
      },
      "id": "format-data",
      "name": "Format Booking Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Prepare data for WhatsApp message"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasPhone }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-phone",
      "name": "Has Phone Number?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Only send WhatsApp if phone number provided"
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "phoneNumberId": "={{ $env.WHATSAPP_PHONE_NUMBER_ID }}",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "templateName": "booking_confirmation",
        "templateLanguage": "fr",
        "templateParameters": {
          "parameters": [
            {
              "type": "body",
              "body_parameters": [
                {
                  "parameterType": "text",
                  "textValue": "={{ $json.name }}"
                },
                {
                  "parameterType": "text",
                  "textValue": "={{ $json.service }}"
                },
                {
                  "parameterType": "text",
                  "textValue": "={{ $json.datetime }}"
                }
              ]
            }
          ]
        }
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Confirmation",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 2,
      "position": [900, 200],
      "credentials": {
        "whatsAppBusinessCloudApi": {
          "id": "WHATSAPP_CRED_ID",
          "name": "WhatsApp Business Cloud"
        }
      },
      "notes": "Send confirmation via WhatsApp"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, whatsappSent: true, phone: $json.phone }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 200],
      "notes": "Return success response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, whatsappSent: false, reason: 'No phone number' }) }}"
      },
      "id": "respond-no-phone",
      "name": "Respond - No Phone",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 400],
      "notes": "No phone number provided"
    }
  ],
  "connections": {
    "Webhook - New Booking": {
      "main": [
        [
          {
            "node": "Format Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Booking Data": {
      "main": [
        [
          {
            "node": "Has Phone Number?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Phone Number?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - No Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Confirmation": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "3a-automation"
  },
  "tags": [
    {
      "name": "booking",
      "id": "booking"
    },
    {
      "name": "whatsapp",
      "id": "whatsapp"
    },
    {
      "name": "confirmation",
      "id": "confirmation"
    }
  ],
  "documentation": {
    "description": "Send WhatsApp confirmation when new booking is created",
    "webhook_url": "https://n8n.srv1168256.hstgr.cloud/webhook/booking-confirmation",
    "trigger": "Called by Google Apps Script doPost() after calendar event creation",
    "message_template": {
      "name": "booking_confirmation",
      "language": "fr",
      "category": "UTILITY",
      "body": "Bonjour {{1}}, votre réservation pour {{2}} est confirmée le {{3}}. À bientôt! - 3A Automation"
    }
  }
}
